@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic');
@import "~normalize.css";
//@import "~rc-slider";

$font-os: "Open Sans", sans-serif;
$font-os-light: 300;
$font-os-regular: 400;
$font-os-semibold: 600;
$font-os-bold: 700;
$font-os-black: 800;

@import "resets";

body {
  line-height: 1;
  font-family: $font-os;
  background: linear-gradient(to right, #25202d, #181e36);
}

.window {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 120px 0 30px;
}

.player {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 632px;

  &__box {
    background: linear-gradient(70deg, #5c5071 25%, #43497b);
    border: 1px solid #423d55;
    border-radius: 30px;
    padding: 60px 90px 49px;
    max-width: 400px;
    box-shadow: 0 0 97px rgba(black, 0.50);
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
  }

  &__volume-box {
    width: 50px;
    height: 180px;
    background: #5c5071;
    box-shadow: 0 0 50px rgba(black, 0.25);
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 23px 0 15px 2px;
    box-sizing: border-box;
    flex-shrink: 0;
    z-index: 1;

    .slider {
      height: 70%;
    }
  }

  &__volume-icon {
    background: #726d8b;
    border-radius: 100%;
    padding: 5px;
    color: white;
    font-size: 14px;
    margin-top: 11px;
    margin-left: 2px;

    &:hover {
      cursor: pointer;
    }
  }

  &__display {

  }

  &__title {
    font-size: 18px;
    font-weight: $font-os-semibold;
    color: white;
  }

  &__track-number {
    font-size: 14px;
    font-weight: $font-os-bold;
    margin-top: 12px;
    color: rgba(white, 0.70);
  }

  &__progress {
    margin: 19px 0 14px;
    padding: 0 6px;
  }

  &__buttons-box {
    display: flex;
    //justify-content: space-between;
  }

  &__pan {
    width: 100px;
    margin-top: 7px;
    margin-left: 20px;
  }

  &__buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__button {
    color: rgba(white, 0.7);
    font-size: 12px;

    &:hover {
      cursor: pointer;
      color: rgba(white, 0.9);
    }

    &--add {
      font-size: 14px;
      margin-right: 18px;
      position: relative;
      overflow: hidden;

      input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
        font-size: 100px;
      }
    }

    &--backward, &--forward {
      margin-top: 1px;
    }

    &--play-pause {
      border: 1px solid rgba(white, 0.5);
      border-radius: 100%;
      width: 30px;
      height: 30px;
      transition: box-shadow 700ms;
      margin: 0 12px;

      &:hover {
        background: rgba(white, 0.1);
      }

      &:active {
        box-shadow: 0 0 0 5px rgba(white, 0.25);
        transition: none;
      }

      svg.fa-play {
        margin-left: 2px;
        margin-top: 2px;
      }

      svg.fa-pause {
        margin-top: 1px;
      }
    }
  }
}

.dnd {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(#899dcc, 0.75);
  left: 0;
  top: 0;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  > div {
    text-align: center;
    display: flex;
    align-items: center;
    color: darken(#534866, 5%);

    @keyframes dnd-icon-jumping {
      0%, 100% {
        transform: translateY(10%);
      }
      50% {
        transform: translateY(-10%);
      }
    }

    svg {
      margin-right: 12px;
      font-size: 32px;
      animation: dnd-icon-jumping 1s infinite;
    }

    span {
      display: block;
      font-weight: $font-os-bold;
      font-size: 28px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 95%;
    height: 89%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 5px dashed #534866;
    border-radius: 30px;
  }
}

.slider {
  position: relative;

  &--vertical {
    padding: 0 6px;

    .rc-slider-rail {
      width: 2px;
      height: 100%;
    }

    .rc-slider-track {
      width: 2px;
    }

    .rc-slider-handle {
      left: 0;
    }
  }

  &--horizontal {
    padding: 7px 0;

    .rc-slider-rail {
      height: 2px;
      width: 100%;
    }

    .rc-slider-track {
      height: 2px;
      margin-top: -2px;
    }

    .rc-slider-handle {
      top: 0;
    }
  }

  .rc-slider-rail {
    background: rgba(white, 0.75);
    box-shadow: 0 0 0 1px rgba(white, 0.5);
  }

  .rc-slider-track {
    background: white;
    box-shadow: 0 0 0 1px rgba(white, 0.75);
    position: absolute;
    z-index: 0;
  }

  .rc-slider-handle {
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    outline: none;
    z-index: 1;
    transition: box-shadow 700ms;

    &:hover {
      cursor: pointer;
    }

    &:active {
      box-shadow: 0 0 0 5px rgba(white, 0.25);
      transition: none;
    }
  }
}

.playlist {
  width: 400px;
  margin-top: 50px;
  position: relative;

  &::before {
    display: block;
    content: "";
    width: 360px;
    height: 100%;
    box-shadow: 0 0 50px 10px rgba(#ffc9f6, 0.15);
    border-radius: 15px;
    background: linear-gradient(to right, #2b2939, #13234c);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: -1;
  }

  &__empty {
    font-weight: $font-os-bold;
    padding: 27px 60px;
    color: #a5a6ae;
  }

  &__track {
    font-size: 15px;
    font-weight: $font-os-bold;
    color: #a5a6ae;
    border-radius: 10px;
    padding: 16px 47px 14px;
    margin: 7px 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;

    &:first-child {
      margin-top: 24px;
    }

    &:last-child {
      margin-bottom: 24px;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover, &--current {
      background: linear-gradient(198deg, #5c5071 43%, #43497b);
      border-radius: 10px;
      color: white;
      box-shadow: 0 12px 23px rgba(0, 0, 0, 0.35);

      .playlist__track-remove {
        display: block;
      }
    }

    > button:hover {
      cursor: pointer;
    }
  }

  &__track-button {
    width: 100%;
    height: 100%;
  }

  &__track-remove {
    background: #726d8b;
    border-radius: 100%;
    color: white;
    font-size: 14px;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 12px;
    display: none;
  }
}

.messages {
  position: absolute;
  width: 300px;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);

  &__message {
    background: rgba(#726d8b, 0.5);
    padding: 15px 22px;
    color: #bababa;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(black, 0.2);

    > span, > button {
      display: block;
    }

    > button {
      margin-left: 10px;
      font-size: 15px;

      &:hover {
        cursor: pointer;
      }
    }

    > span {
      line-height: 18px;
      font-size: 13px;
    }
  }
}